<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smartwork.dal.mapper.ZGNewsMapper">
  <resultMap id="BaseResultMap" type="org.smartwork.dal.entity.ZGNews">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="release_state" jdbcType="BIGINT" property="releaseState" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="classify_id" jdbcType="BIGINT" property="classifyId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.smartwork.dal.entity.ZGNews">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, icon, title, release_state, release_time,classify_id
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
</mapper>